# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
*/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/visualstudiocode
